@model TaskManagement.Models.Service

<div class="modal fade" id="AddService-@Model.Id" tabindex="-1" aria-labelledby="Service" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                @using (@Html.BeginForm("AddService", "Admin", FormMethod.Post))
                {
                    @Html.TextBoxFor(x=>x.Id,new{@class="form-control",required="",type="hidden"})
                    @Html.TextBoxFor(x=>x.ServiceName,new{@class="form-control",required=""})
                    @Html.TextBoxFor(x=>x.RecordTime,new{@class="form-control",required=""})
                    @Html.TextBoxFor(x=>x.EndTime,new{@class="form-control",required=""})
                    @Html.TextBoxFor(x=>x.ServiceDescription,new{@class="form-control",required=""})
                    @Html.TextBoxFor(x=>x.WorkerNote,new{@class="form-control",required=""})
                    <div class="col-md-4">
                      @*  @Html.DropDownList("condition",null,"Condition",new {@class= "form-control"})*@
                    </div>
                    <button type="submit" class="btn btn-success mt-2">Save changes</button>
                }
            </div>
        </div>
    </div>
</div>