﻿@using TaskManagement.Models;

@model TaskManagement.Models.Service;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="justify-content-center">
        <div class="row">
            
                <div class="form-group">
                       @* <div class="col-md-2 ">
                            <label>İstenilen Servis </label>        
                            @Html.DropDownListFor(x => x.Id,(SelectList)ViewBag.Service,new { @class = "form-control" })
                        </div>*@
                    <div class="col-md-8">
                        <label for="exampleInputPassword1" class="form-label"> Service Description</label>
                        <input type="text" class="form-control" name="ServiceDescription" required="" placeholder="Service Description ">
                        <textarea class="form-control" rows="3" id="comment"></textarea>
                  
                    </div>
    
                    <div class="col-md-2">
                        <label>Personel</label>
                        @Html.DropDownListFor(x=> x.Personnel.Id,(SelectList)ViewBag.personnel,new{ @class = "form-control" });
                   
                    </div>
                    <div class="col-md-2">
                        <label>Görevli Personel</label>
                        @Html.DropDownListFor(x=> x.BTPersonnel,(SelectList)ViewBag.BTPerson,new{ @class = "form-control" });

                    
                    </div>
        
                    <div class="col-md-8">
                        <label for="exampleInputPassword1" class="form-label">Kayıt Tarihi</label>
                        <input type="date" class="form-control" name="RecordTime" required="" placeholder="Record Time" id="exampleInputPassword1">
                   
                    </div>
                    <div class="col-md-8">
                        <label for="exampleInputPassword1" class="form-label">Bitiş Tarihi</label>
                        <input type="date" class="form-control" name="EndTime" required="" placeholder="End Time" id="exampleInputPassword1">
                    
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(x=> x.Condition,(SelectList)ViewBag.con,new{ @class = "form-control" });
                        
                  
                    </div>
                </div>
                    <div class="col-md-2 offset-7">
                        <button class="btn btn-primary" type="submit">Add Department</button>
                    </div>
            
            
        </div>
    </div>
    
</div>

<p></p>
<p></p>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">              
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Date</th>
                            <th scope="col">Service Name</th>
                            <th scope="col">BT Personnel Name</th>
                            <th scope="col">Personnel Name</th>
                            <th scope="col">Condition</th>
                            <th scope="col">Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.ser as List<TaskManagement.Models.Service>)
                        {
                            var tm = "#myModal" + item.Id;
                            var mid = "myModal" + item.Id;
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>@item.RecordTime</td>
                                <td>@item.ServiceName</td>
                                <td>@item.BTPersonnel.NameSurname</td>
                                <td>@item.Personnel.NameSurname</td>
                                <td>@item.Condition.CondName</td>
                               <!--eğer olumluysa küçük bir işaret koyacam-->



                                <!--<td>
                                    <div class="col-md-2 offset-7">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@("AddService-" + item.Id)" data-url="@Url.Action($"AddService/{item.Id}")">Add Service</button>
                                    </div>
                                    @await Html.PartialAsync("_AdminPartial",item)
                                </td>-->
                            </tr>
                        }
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>